/*--reset--*/
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}


/*-----variables----*/
/* define the color variables with light mode by default */

:root{
    --background-color: #f4f4f4;
    --surface-color: #fdfdff;
    --text-color: #1a2744;
    --button-color: #008fff;
}

.dark-mode {
    --background-color: #1a2744;
    --surface-color: #23345a;
    --text-color: #f4f4fb;
    --button-color: #45adff;
}

/*-----general ------*/
body{
    background-color: var(--background-color);
    transition: background-color 0.6s ease, color 0.3s ease;
}
button{
    border: solid 2px var(--button-color);
    border-radius: 40%;
    color: var(--button-color);
    padding: 8px;
}


/*----text style---*/

h1, h2, p{
    color: var(--text-color);

}
