body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
}
.ourpets{
    margin-top: 10%;
    word-spacing: 20px;
}
header{
    height: 200px;
    background-color: lightgrey;
    font-size: 20px;
}
.flex{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    border: 1px solid black;
    background-color: gray;
}